@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

body {
  color: white;
  height: 100vh;
  background-color: #020126;
  font-family: 'Jura', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.ml {
  margin-left: 8px;
}

.job-application {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 0;
  width: 650px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
}

.btn {
  font-size: 12px;
  margin: 2rem auto;
  padding: 8px 16px;
  border-radius: 0.5rem;
}

.btn-close {
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  background-color: #3C038C;
}
.btn-add {
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  background: #F205E2;
}

#btn-add-container {
  display: flex;
  justify-content: center;
}

.btn-delete {
  background: rgb(146, 51, 51);
}

.list {
  background: #150259;
  border: 1px solid rgba(33, 32, 34, 0.651);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  margin: 0 auto;
  padding: 24px;
  max-width: 100%;
}

.computer-field {
  color: greenyellow;
  font-family: 'OCR A Std', monospace;
  background:#020126
}

.heading {
  text-align: center;
}

#main-logo-container {
  display: flex;
  justify-content: center;
}

.modal {
  background-color: #150259;
  padding: 20px;
}

.modal-label {
  margin-bottom: 10px;
}